!!! 5
<html class="no-js" lang="en">

%head
  %meta{:charset => 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
  
  %title Error
  
  %meta{:name => 'viewport', :content => 'width=device-width,initial-scale=1'}
  
  :css
    body {
      padding: 40px;
      color: #222;
      background-color: #EEE;
      font: 14px normal Helvetica, Arial, sans-serif;
      }
    #main {
      width: 500px;
      margin: 0 auto;
      font-size: 14px;
      }
    

%body
  #main
    %h1 Oops, something has gone wrong!
    %p We've been notified and will address it shortly.
