!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7]
  %html{:class => "no-js lt-ie9 lt-ie8 lt-ie7", :lang => "en"}
/[if IE 7]
  %html{:class => "no-js lt-ie9 lt-ie8", :lang => "en"}
/[if IE 8]
  %html{:class => "no-js lt-ie9", :lang => "en"}
/[if gt IE 8]
  %html{:class => "no-js", :lang => "en"}
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head
  %meta{:charset => 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
  
  %title= @page_title || "Starter App"
  
  -# More ideas for your <head> here: h5bp.com/d/head-Tips
  %meta{:name => "description", :content => ""}
  %meta{:name => "author", :content => ""}
  %meta{:name => 'viewport', :content => 'width=1024,maximum-scale=1'}
  %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
  
  - if settings.development?
    %link{:rel => 'stylesheet', :href => '/css/style.css'}
  - else
    %link{:rel => 'stylesheet', :href => '/assets/site-datauri.css'}
  
  -# All JavaScript at the bottom, except this Modernizr build incl. Respond.js
  -# Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects
  %script{:src => "/js/lib/modernizr-2.0.6.min.js"}

%body#top
  %header#header
    
  
  #main
    =yield
  
  %footer#footer
    
  
  - if settings.development?
    %script{:src => "/js/lib/zepto.min.js", :defer => true}
    %script{:src => "/js/app.js", :defer => true}
  - else
    %script{:src => "/assets/site.js", :defer => true}
  
  -# Asynchronous Google Analytics snippet.
  -# mathiasbynens.be/notes/async-analytics-snippet
  - unless settings.development?
    :javascript
      var _gaq=[['_setAccount','#{@analytics_token}'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  
  -# Chrome Frame
  -# chromium.org/developers/how-tos/chrome-frame-getting-started
  /[if lt IE 7]
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js', :defer => true}
    :javascript
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})});
  